md-sidenav-container {
	height: 100%;
	padding-top: 64px;
	background-color: initial;
}
md-sidenav {
	height: 100%;
	width: 250px;
	padding: 90px 10px 10px 10px;
	background-color: #fafafa;
}
.sidenav-content {
	padding: 1em 1em 0 1em;
	height: 98%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
app-query-stats {
	height: 100%;
}
md-sidenav {
	height: 100%;
}
:host {
	height: 100%;
}
md-datepicker-content {
	zoom: .9;
}
:host /deep/ .ag-row.query-stats-row {
	cursor: pointer;
}

:host /deep/ .ag-row.query-stats-row .query-stats-sql-cell {
	cursor: text;
	user-select: text;
}
.filter-wrap .filter-item-clear {
	position: absolute;
	top: 15px;
	right: 0;
	background-color: transparent;
	box-shadow: none;
}
.filter-wrap .filter-item-clear:hover {
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.filter-wrap .filter-item.filter-wrap {
	width: 100%;
}
.columns-settings .columns-settings-item {
	display: block;
	margin-top: 5px;
}
.columns-settings .columns-settings-item:hover {
	background-color: rgba(254, 224, 110, 0.27);
}