<md-sidenav-container>
  <md-sidenav #sidenav mode="side" opened="true" disableClose="true">
	  <button md-button (click)="changeDate(-1)"><i class="material-icons">keyboard_arrow_left</i></button>
  	<button md-button (click)="changeDate(1)"><i class="material-icons">keyboard_arrow_right</i></button>
	  <md-input-container>
		  <input mdInput [mdDatepicker]="picker" placeholder="Date" [mdDatepickerFilter]="getIsAvalilableDate.bind(this)"  [(value)]="currentDate" (focusedChange)="picker.open(); ngModel">
		  <button mdSuffix [mdDatepickerToggle]="picker"></button>
	  </md-input-container>
    <md-datepicker #picker (selectedChanged)="onSelectedDateChanged($event)"></md-datepicker>
  </md-sidenav>
	<div class="sidenav-content">
		<app-query-info *ngIf="activeQuery" (hide)="deselectRows()" [queryData]="activeQuery"></app-query-info>
		<div class="filter-wrap">
			<md-input-container class="filter-item filter-wrap">
				<input mdInput #searchBox placeholder="Query filter" (keyup)="search(searchBox.value)">
			</md-input-container>
			<button class="filter-item" md-button (click)="search(null);searchBox.value=null;"><md-icon>clear</md-icon></button>
		</div>
		<ag-grid-angular style="width: 100%; height: 99%;"
		                 class="ag-material query-stats-grid"
		                 [rowData]="queryStats"
		                 [columnDefs]="columnDefs"
		                 [gridOptions]="gridOptions"
		                 (gridReady)="onGridReady($event)"
		                 (cellClicked)="onCellClick($event)">
		</ag-grid-angular>
	</div>
  </md-sidenav-container>