:host {
	background-color: white;
	z-index: 100;
	position: absolute;
	width: calc(100% - 30px);
	height: calc(100% - 16px);
}
.hide-button {
	position: absolute;
	right: 30px;
}
.info-wrap .info-item {
	width: 50%;
	margin: 0;
}
.info-container .mat-grid-tile .mat-figure {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.info-wrap {
	width: 100%;
	max-height: 200px;
	overflow: hidden;
	column-count: 4;
	padding: 5px;
}
.info-wrap .info-wrap-column {
		display: inline-block;
		margin: 20px;
		vertical-align: top;
	}
.info-wrap .info-wrap-column .info-item {
	margin: 3px;
}
.sql-content {
	font-family: 'Roboto Mono', monospace;
	white-space: pre-wrap;
	overflow: auto;
	height: calc(100% - 62px);
}
.sql-tools .sql-tool{
	margin-left: 10px;
}
.query-info-tab .query-info-tab-item {
	padding: 10px;
	height: calc(100vh - 208px);
	width: calc(100% - 40px);
}
