<button md-mini-fab color="primary" class="hide-button" (click)="hideMe()"><md-icon>close</md-icon></button>
<div class="info-wrap">
	<template ngFor let-column [ngForOf]="columnsConfig | ifProp:'showInfoItem'">
		<h3 class="info-item" *ngIf="queryData.info[column.field]">{{column.headerName}}: <span>{{queryData.info[column.field]}}</span></h3>
	</template>
</div>
<md-tab-group dynamicHeight="true" [(selectedIndex)]="selectedTabIndex">
	<md-tab label="Text">
		<md-toolbar class="sql-tools">
			<button class="sql-tool" md-raised-button ngxClipboard [cbContent]="queryData.info.formatedText || queryData.info.queryText" (cbOnSuccess)="onCopySql()">Copy</button>
			<button class="sql-tool" md-raised-button (click)="formatSql()">Prettify</button>
		</md-toolbar>
		<div class="sql-content" >
			{{queryData.info.formatedText || queryData.info.queryText}}
		</div>
	</md-tab>
	<md-tab label="Stacks">
		<app-stack-list [queryTextId]="queryData.info.normalizedQueryTextId" [dateId]="queryData.info.dateId"></app-stack-list>
	</md-tab>
	<md-tab [label]="chartData.chartCaption" *ngFor="let chartData of chartsData | isChartVisible:visibleColumns">
		<app-query-chart [chartData]="chartData"></app-query-chart>
	</md-tab>
</md-tab-group>