:host {
	position: absolute;
	margin-top: 64px;
	padding: 20px;
	width: 90%;
}
.import-data-form {
	margin-top: 20px;
	width: 60%;
}
.import-data-form td {
	width: 100%;
	display: block;
}
.clear-cache-divider {
	margin-top: 20px;
}
.import-data-full-width {
	width: 100%;
}
.action-btn {
	margin-left: 10px;
	margin-top: 10px;
}
