<form class="import-data-form" onsubmit="return false">
	<div *ngIf="lastQueryInHistory">
		<h4>Last query in history: {{moment(lastQueryInHistory).format("YYYY-MM-DD hh:mm")}}</h4>
		<h4>Total records: {{totalRecords}}</h4>
	</div>
	<md-progress-bar *ngIf="importInProgress"
	                 class="import-data-progress"
	                 color="primary"
	                 mode="indeterminate">
	</md-progress-bar>
	<td><md-input-container class="import-data-full-width">
		<input mdInput placeholder="Directory template" [(value)]="importSettings.EventsDataDirectoryTemplate">
	</md-input-container></td>
	<td><md-input-container class="import-data-full-width">
			<input mdInput placeholder="File template" [(value)]="importSettings.StatementsFileTemplate">
	</md-input-container></td>
	<button md-raised-button (click)="importData(importSettings)">Import</button>
	<md-button-toggle (change)="toggleImportJob()" [checked]="!importJobActive">
		{{importJobActive? "Deactivate" : "Activate"}} import job
	</md-button-toggle>
	<hr class="clear-cache-divider"/>
	<button md-raised-button (click)="clearCache()">Clear cache</button>
	<button md-raised-button (click)="openHangfire()">Open hangfire</button>
</form>